.layer-toggle-panel {
  position: fixed;
  top: 100px;   
  left: 10px;
  right: auto; 
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  border-radius: 8px;
  padding: 10px 14px;
  color: white;
  font-size: .85rem;
  z-index: 900;
  box-sizing: border-box;
  display: flex;     
  align-items: center; 
  gap: 8px; 
  width: 137px;
}

.layer-toggle-panel {
  display: flex;
  flex-direction: column; 
  align-items: center;  
}

.layer-toggle-panel h4 {
  width: 100%;           
  text-align: center;  
  margin: 0;    
  margin-bottom: -10px;        
}

.layer-icons {
  display: flex;
  justify-content: center; 
  gap: 23px;
  margin-top: 6px;
  align-items: center;
}


.toggle-icon {
  width: 14px;
  height: 14px;
  margin: 6px 0;
  border: 2px solid white;
  flex-shrink: 0;
  cursor: pointer;
  opacity: 0.5;               
  transition: opacity 0.2s, transform 0.2s;
}

.toggle-icon:hover {
  transform: scale(1.1);
}

/* active (toggled on) state */
.toggle-icon.active {
  opacity: 1;                 /* full brightness */
  box-shadow: 0 0 1px white;  /* highlight */
  
}

/* shapes */
.layer-circle {
  background: blue;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin-right: -6px;
}

.layer-square {
  background: red;
}

.layer-diamond {
  background: orange;
  transform: rotate(45deg);
  transition: transform 0.2s, opacity 0.2s; /* smooth scaling */
  width: 13px;
  height: 13px;
  position: relative;
}

.layer-diamond:hover{
  transform: rotate(45deg) scale(1.1);
}


/* --- TOOLTIP STYLING --- */

.toggle-icon[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: calc(100% - 50px);
  left: 50%;
  transform: translateX(50%) translateY-(4px);
  background: rgba(0, 0, 0, 0.665);
  backdrop-filter: blur(6px);
  color: #fff;
  padding: 5px 8px;
  border-radius: 6px;
  font-size: 13px;
  line-height: 1.2;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  z-index: 10;
}

.toggle-icon[data-tooltip]::before {
  content: "";
  position: absolute;
  bottom: calc(100% + 2px);
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.15s ease;
  z-index: 10;
}

.toggle-icon .count {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 10px;
  color: white;
  font-weight: bold;
  pointer-events: none;
}

.layer-diamond .count {
  transform: translate(-50%, -50%) rotate(-45deg);
}


/* Reveal on hover or focus */
.toggle-icon:hover::after,
.toggle-icon:hover::before,
.toggle-icon:focus-visible::after,
.toggle-icon:focus-visible::before {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

/* Hide on small screens */
@media (max-width: 844px) {
  .layer-toggle-panel {
    display: none;
  }
}
