
.map-legend {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 14px;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  color: white;
  font-size: 0.8rem;
  font-weight: 520;
  border: 1px solid white !important;
  border-radius: 7px;
  z-index: 2;
  cursor: pointer;
  flex-wrap: nowrap;
  transition: background 0.3s ease;
}

.map-legend:hover {
  background: #097cf09a;
}

.map-legend.expanded {
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: max-content;
  max-width: 800px !important;
  padding: 12px 16px;
  line-height: 1.4;
  flex-wrap: wrap;
}


.map-legend-item {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 100%;
}

.map-legend-label {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  color: white;
}

.map-legend-label strong {
  font-weight: 750 !important;
  font-size: .8rem;
}

.legend-description {
  font-size: 0.8rem;
  line-height: 1.4;
  color: #ffffff;
  margin-top: 2px;
}


.map-legend:not(.expanded) .map-legend-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.map-legend.expanded .map-legend-label {
  white-space: normal;
}


.map-legend-circle,
.map-legend-square,
.map-legend-diamond,
.map-legend-glacier {
  margin-right: 1px;
  margin-top: 1px;
  border: 2px solid white;
  flex-shrink: 0;
}

.map-legend-circle {
  width: 12px;
  height: 12px;
  background: blue;
  border-radius: 50%;
}

.map-legend-square {
  width: 10px;
  height: 10px;
  background: red;
}

.map-legend-diamond {
  width: 10px;
  height: 10px;
  background: orange;
  transform: rotate(45deg);
}

.map-legend-glacier {
  width: 12px;
  height: 12px;
  background-color: white;
  border-color: #1E90FF;
  border-radius: 50%;
}


@media (max-width: 677px) {
  .map-legend {
    left: 10px;
    right: 10px;
    bottom: 10px;
    transform: none;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 0.75rem;
    gap: 12px;
    padding: 8px;
    max-width: calc(100% - 40px) !important;
  }

  .map-legend.expanded {
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    max-width: 90% !important;
    padding: 8px;
    gap: 8px;
  }

  .legend-description {
    font-size: 0.7rem;
    margin-left: 0;
  }

  .map-legend-label strong {
  font-weight: 750 !important;
  font-size: .7rem;
}
}
