.reset-button {
  padding: 8px 12px;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  z-index: 5;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.2s ease;
}

@media (hover: hover) and (pointer: fine) {
  .reset-button:hover {
    background: #097cf09a;
  }
}
