
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.main-content {
  flex: 1; 
}

.footer {
  background-color: #0c5c95; 
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 12px;
  line-height: 1.3;
  width: 100%;
  margin-top: auto; 
}
