/* Header container */
.header {
  background-color: #011b31;
  color: white;
  padding: 1px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', Arial, sans-serif;
  position: relative;
  flex-wrap: wrap; 
}


.header-title {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 10px;
    flex-wrap: wrap; 
}


.header-title h1,
.header-title h2,
.header-title h3,
.header-title p,
.header-title div {
  font-size: clamp(1.2rem, 5vw, 1.9rem); 
  margin: 0;
  word-break: break-word;
}

.header-subtitle {
  font-size: 0.65rem !important;
  color: #e0e0e0;
  display: none; 
}


.header-title .desktop-title {
  display: inline;
}

.header-title .mobile-title {
  display: none;
}



.header-image {
  position: absolute;
  right: 15px;
  display: none; 
  align-items: center;
  padding-top: 6px; 

}

.header-image img {
  width: auto;
  height: auto;
  max-height: 50px; 
  max-width: 85%;
}
@media (min-width: 950px) {
  .header-image {
    display: flex;
  }
}

.header-image a {
  margin-right: 10px;
}

.header-image img {
  height: auto;
  max-height: 50px;
  max-width: 100%;
  object-fit: contain;
}

.header-image a:first-child {
  margin-right: 12px;
}


.logo {
  height: 50px;
  width: auto;
  margin: 3px;
}
@media (max-width: 975px) {
  .header-image { display: none; }
  .logo { display: none; } 
  .header { padding: 5px 8px;}
}


@media (max-width: 580px) {
  .header-title h1, .header-title h2, .header-title h3 { font-size: 1.1rem; }
  .header { padding: 5px 8px;}
  
}

.plus {
  position: relative;
  display: inline-block;
  text-align: center;
  font-weight: lighter;
  font-size: clamp(1rem, 5vw, 1.4rem);
  vertical-align: super;
  margin-left: -3px;
}

.plus:hover {
  position: relative;
  display: inline-block;
  text-align: center;
  color: #1c81fc;
  font-weight: bold;
}

.plus-tooltip {
  width: 170px;
  font-family: sans-serif;
  z-index: 90;
  position: absolute;
  top: -20%;
  left: 90%;
  opacity: 0;
  animation: fadeIn 0.2s forwards;
}

.plus-tooltip-content {
  overflow: hidden;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.568);
  backdrop-filter: blur(3px);
  color: white;
  padding: 4px;
  z-index: 4;
  text-align: left;
}

.plus-tooltip-content p {
  margin: 0;
  font-size: .8rem;
  line-height: 1;
  text-align: center;
}

.plus-tooltip {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.plus:hover .plus-tooltip {
  visibility: visible;
  opacity: 1;
}

.header-subtitle {
  font-size: 0.65rem !important;
  color: #e0e0e0;
  display: none; 
}

@media (max-width: 580px) {
  .header-subtitle {
    display: block;
  }
}

@media (max-width: 975px) {
  .header-title .desktop-title {
    display: none;
  }

  .header-title .mobile-title {
    display: inline;
  }
}

